body{
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(86, 89, 253))
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
 }
.item{
    width: auto;  
 }
.titulo1{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.titulo2{
    text-align: center;
    color: rgb(1, 0, 80);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.infos{
    font: 17pt Arial;
    text-align: justify;
}
.foto{
    margin: auto;
    display: flex;
    width: 700px;
    height: auto;
    border-radius: 50px;
    box-shadow: 6px 10px 6px rgba(22, 22, 22, 0.952);
}