@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
  --cor-do-header: #25b338;
  --cor-do-fundo: #f6fdff;
  --cor-do-titulo: #31953b;
  --cor-do-menu-1: #122d85;
  --cor-do-menu-2: #303030cc;
  --cor-da-fonte-menu: #ffffff;
  --cor-de-fundo-escola: #0000008c;
  --cor-do-footer: #010141;
}

body{
    background: var(--cor-do-fundo);
    width: 100%;
    height: 100vh;
}
.header{
    background: var(--cor-do-header);
    width: 100%;
    height: 64px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 1px rgb(228, 231, 21);
}
#logo{
    width: 60px;
    height: 60px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: rigth;
}
#logo img{
    filter: drop-shadow(-1px 1px 1px #0000004a);
    width: 50px;
    height: 60px;
}
#header-title{
    display: flex;
    color: white;
    font: 20pt Arial italic;
    font-family: Helvetica;
    padding-left: 12px;
    font-weight: bold;
    margin: auto;
    text-shadow: 2px 2px black;
}
.navbar{
    background: black;
    width: 100%;
    height: 100px;
}
.barra{
    padding-top: 100px;
}